node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
.env
.env.*
.pnp.*
.DS_Store
Thumbs.db
/.vscode/
.idea/
dist/
build/
coverage/
/.parcel-cache/
public/static/
/.cache/
*.log
/.next/
